main section:first-of-type{
  background-color: #000;
  height: 498px;
  
}
main section:first-of-type .inner{
  position: relative;
  height: 100%;
  overflow: hidden;
}
main section:first-of-type .inner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
main section:first-of-type .inner video{
  object-fit: cover;
  position: relative;
  top: -7%;
  left: -3%;
}
main section:first-of-type .inner ul{
  position: absolute;
  transform: translateY(-45%);
  top: 50%;
  left: 1%;
  z-index: 1;
}
main section:first-of-type .inner ul li{
  color: #fff;
}
main section:first-of-type .inner ul li:first-of-type{
  margin-bottom: 10%;
  font-size: 40px;
  font-weight: bold;
}
main section:first-of-type .inner ul li:nth-of-type(2),main section:first-of-type .inner ul li:nth-of-type(3){
  font-size: 18px;
}
main section:first-of-type .inner ul li:last-of-type{
  font-size: 18px;
  margin-top: 15%;
}
main section:first-of-type .inner ul li:last-of-type{}
main section:first-of-type .inner ul li:last-of-type a{
  display: inline-block;
  margin-right: 2%;
}
main section:first-of-type .inner ul li:last-of-type a:first-of-type{
  padding: 2% 3%;
  font-size: 13px;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  border-radius: 10px;
}